# =========================
# Visual Studio
# =========================
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# =========================
# Build results
# =========================
bin/
obj/
Debug/
Release/

# =========================
# ASP.NET Core
# =========================
appsettings.Development.json
appsettings.Production.json

# =========================
# Node / Angular
# =========================
node_modules/
dist/
.angular/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log
